.modalBackground {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.modalContent {
  background-color: #fefefe;
  margin: 65px auto;
  padding: 32px;
  width: 504px;
  height: 609px;
}

.closeButton {
  background-color: transparent;
  border: none;
  width: 16px;
  height: 16px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
}

.closeImg {
  width: 16px;
  height: 16px;
}

.modalHeader {
  color: #424447;
  margin-bottom: 24px;
  font-size: 19px;
}

.facebookButton {
  width: 100%;
  height: 49px;
  border: 2px solid #3B5998;
  border-radius: 4px;
  padding: 0 24px;
  background-color: #3B5998;
  color: white;
  margin-bottom: 8px;
}

.facebookImg {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.facebookText {
  font-size: 16px;
  vertical-align: middle;
  padding-left: 8px;
}

.googleButton {
  width: 100%;
  height: 49px;
  border: 2px solid #545a63;
  border-radius: 4px;
  padding: 0px 24px;
}

.googleImg {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.googleText {
  font-size: 16px;
  vertical-align: middle;
  padding-left: 16px;
  font-weight: bold;
  color: #545a63;
}

.p {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.span {
  background:#fff;
  padding:0 10px; 
}

/*
.or {
  padding: 16px;
}

.orText {
  color: #545a63;
}

.line {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

.divider {

}

.outerSpan {
  color: rgb(228, 228, 228);
  text-decoration: line-through;
}

.innerSpan {
  color: white;
}

.test {
  text-decoration: none;
} */
