.serviceContainer {
  display: flex;
  justify-content: center;
}

.carousel {
  display: flex;
  justify-content: center;
}

.listingsHeader {
  color: #424447;
  margin: 19px 0 19px 32px;
}

.photoContainer {
  position: relative;
  margin: 0 8px 0 8px;
  width: 330px;
}

.photo {
  width: 330px;
  height: 230px;
  border-radius: 3px;
}

.heart {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  left: 295px;
}

.descriptionAndBeds {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 12px;
  color: #0b6054;
}

.header {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #424447;
}

.price {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: lighter;
  font-size: 14px;
  color: #5d5d60;
}

.starsAndReviews {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #4b4b4f;
}

.stars {
  display: inline;
}

.reviews {
  margin: 0 3px;
}

.buttonContainer {
  display: flex;
  height: 230px;
  align-items: center;
  width: 25px;
}

.button {
  border: 0px;
  padding: 0px;
  height: 25px;
  cursor: pointer;
}

.img {
  width: 25px;
  height: 25px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
